<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <p><%= link_to "Rate My Class", '' %></p>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '' %></li>
        <% if current_user %>
        <li>Signed in as <%= current_user.name %></li>
        <li><%= link_to "Logout", '/logout' %></li>
        <% else %>
        <li><%= link_to "Login", '/login' %></li>
        <li><%= link_to "Sign Up", '/sign-up' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <%= yield %>
</div>

<div class="center jumbotron">
  <h1>Welcome to RateMyClass!</h1>

  <h2>
    This is the home page for the RateMyClass application!
  </h2>
  
  <p><%= link_to "Check out the map of reviews!", '/map' %></li></p>

  <h3>
    This is the number of tuples in the database powering this application: <%= @resultTotal.rows %>
  </h3>
</div>

<%= form_tag :action => 'search_professor' do %>
	<p><label for = "professor_name">Professor</label>:

	<%= text_field 'professor', 'prof_name' %></p>
	<%= submit_tag "Search" %>

<% end %>


<%= form_tag :action => 'search_course' do %>
	<p><label for = "course_name">Course</label>:

	<%= text_field 'course', 'course_name' %></p>
	<%= submit_tag "Search" %>

<% end %>

<div>
  <h3>
    Our Top Ranked Universities:
  </h3>
  </br>
  <% @schools.each do |c| %>
  <ul>
    <li>
      <%= link_to c['name'], {:controller => 'school', :action => 'show', :id => c['school_id']}, :style=>'color: #4c164f;'  %></br>
    </li>
  </ul>
  <% end %>
</div>


<h3>Schools With Top Departments:</h3>
		<% @resultTopDepartments.each do |r| %>
		<ul id = "ResultsDepartments">
	   		<li> <%= link_to r['name'], {:controller => 'school', :action => 'show', :id => r['id']}, :style=>'color: #4c164f;'%></li>
		</ul>
<% end %>

<h3>Top Overall Courses:</h3>
		<% @resultTopClasses.each do |r| %>
		<ul id = "ResultsClasses">
	   		<li> <%= link_to r['name'], {:controller => 'course', :action => 'show', :id => r['id']}, :style=>'color: #4c164f;' %></li>
		</ul>
<% end %>

<h3>Top Overall Professors:</h3>
    <% @resultTopProf.each do |r| %>
    <ul id = "ResultsProf">
        <li> <%= link_to r['name'], {:controller => 'professor', :action => 'show', :id => r['id']}, :style=>'color: #4c164f;' %></li>
    </ul>
<% end %>