<h1>Sign Up</h1>

<%= form_tag :action => 'create' do %>
<p><label for = "student_user_id">Username</label>:

<%= text_field 'student', 'user_id' %></p>
<p><label for = "student_name">Name</label>:

<%= text_field 'student', 'name' %></p>
<p><label for = "student_password">Password</label>:

<%= password_field 'student', 'password' %></p>
<p><label for = "book_school_year">School Year</label>:

<%= number_field 'student', 'school_year' %></p>
<%= submit_tag "Create my account" %>

<% end -%>
<%= link_to "Back", '/' %> 

