<h1><%= @student.user_id %></h1>

<p>
   <strong>Username: </strong> <%= @student.name %><br />
   <strong>Password :</strong> <%= @student.password %><br />
   <strong>School Year:</strong> <%= @student.school_year %><br />
</p>

<hr />

<%= link_to 'Back', {:action => 'list'} %>