<h1><%= @student.name %></h1>

<p>
   <strong>Username: </strong> <%= @student.user_id %><br />
   <!--<strong>Password :</strong> <%= @student.password %><br /> not needed cuz we dont wanna publically share passwords!-->
   <strong>School Year:</strong> <%= @student.school_year %><br />

   <h2>Professor Reviews:</h2>
		<% if @ratingsProf.blank? %>
			<p>This user has not reviewed any professors.</p>
		<%else %>
			
				<% @ratingsProf.each do |c| %>
				<ul id = "ratingsProf">
					<li>
						<strong>Professor: </strong><%= link_to c.prof_id,  {:controller => 'professor', :action => 'show', :id => c.prof_id} %></br>
						<strong>Lecture Rating: </strong><%= c.rating_lecture %></br>
						<strong>Grading Rating: </strong><%= c.rating_grading %></br>
						<strong>Helpfulness Rating: </strong><%= c.rating_helpful %></br>
						<strong>Interest Rating: </strong><%= c.rating_interest %></br>
					</li>
			</ul>
				<% end %>
				<%end %>
	<h2>Course Reviews:</h2>
		<% if @ratingsCourse.blank? %>
			<p>This user has not reviewed any courses.</p>
		<%else %>
			
				<% @ratingsCourse.each do |c| %>
				<ul id = "ratingsCourse">
					<li>
						<strong>Course: </strong><%= link_to c.course_id,  {:controller => 'course', :action => 'show', :id => c.course_id} %></br>
						<strong>Difficulty Rating: </strong><%= c.rating_difficult %></br>
						<strong>Interest Rating: </strong><%= c.rating_interest %></br>
					</li>
			</ul>
				<% end %>
				<%end %>

	<h2>Users Similar to You:</h2>
		<% if @results.blank? %>
			<p>You're unique! No one has reviews similar to you. </p>
		<%else %>
			<% @results.each do |c| %>
				<ul id = "similarUsers1">
					<li>
						<%= link_to c['user2'], {:controller => 'student', :action => 'show', :id => c['user2']}%>	&nbsp;Reviews in Common: <%= c['prof']%>
					</li>
				</ul>
			<%end %>
			<% @results2.each do |c| %>
				<ul id = "similarUsers2">
					<li>
						<%= link_to c['user2'], {:controller => 'student', :action => 'show', :id => c['user2']}%>	&nbsp; Reviews in Common: <%= c['course']%>
					</li>
			</ul>
			<% end %>
		<%end %>

</p>


<hr />

<%= link_to 'Back', '/' %>