<h1><%= @professor.name %></h1>
<% if current_user %>
	<%= link_to "Write a Review", {:controller => 'review_professor', :action => 'new', :id => @professor.id}, :style=>'color: #4c164f;' %>
<% end %>
<p>
	<h2>Courses Taught:</h2>
		<% if @courses.blank? %>
			<p>This professor is not associated with any courses.</p>
		<%else %>
			
				<% @courses.each do |c| %>
				<ul id = "Courses">
					<li>
						<%= link_to c.name, {:controller => 'course', :action => 'show', :id => c.id}, :style=>'color: #4c164f;'  %>
					</li>
			</ul>
				<% end %>
		<%end %> 

	<h2>Reviews:</h2>
		<% if @ratings.blank? %>
			<p>There are currently no reviews for this professor.</p>
		<%else %>
			
				<% @ratings.each do |c| %>
				<ul id = "reviews">
					<li>
						<strong>Lecture Rating: </strong><%= c.rating_lecture %></br>
						<strong>Grading Rating: </strong><%= c.rating_grading %></br>
						<strong>Helpfulness Rating: </strong><%= c.rating_helpful %></br>
						<strong>Interest Rating: </strong><%= c.rating_interest %></br>
						<i>User: </i><%= link_to c.user_id,  {:controller => 'student', :action => 'show', :id => c.user_id}, :style=>'color: #4c164f;' %></br>
					</li>
			</ul>
				<% end %>
				<%end %>




</p>


<hr />
