<% if @students.blank? %>
<p>There are not any students currently in the system.</p>
<% else %>
<p>These are the current students in our system</p>
<p><%= link_to "Sign-up", sign_up_path%></p>

<ul id = "Students">
   <% @students.each do |c| %>
   <li>
        <%= link_to c.user_id, {:action => 'show', :id => c.user_id} -%>
        <b> <%= link_to 'Edit', {:action => 'edit', :id => c.user_id} %></b>
        <b> <%= link_to "Delete", {:action => 'delete', :id => c.user_id},
            data: { confirm: 'Are you sure?' } %></b>
   </li>
</ul>

<% end %>
<p><%= link_to "Add new Student", {:action => 'new' }%></p>
<% end %>